
@media(max-width:1280px) {
  /* Section 1.1 Navbar hamburger menu*/
  #showcase {
    section {
      width: 95%;
      div{
        margin-left: 0rem;

        figure {

          img {
            width: 150px;
            height: 150px;
          }
        }

        h1 {
          font-size: 2.8rem;
        }
      }
    }
  }

  #intro {
    height: fit-content;
  }

  #currentcourses {
  
    .wrapper {
      margin: 2rem 4rem 0rem 4rem;
    }
  }

  #blogs {
    .wrapper {
      gap: 5px;
      margin: 2rem 2rem 0rem 2rem;

      aside {
        min-height: 37rem;
        max-height: 50rem;
        
      }
    }
  }

  .blogpost {
    .wrapper {
      .blogcontent {
        width: 700px;
      }
    }
  }
}


@media(max-width:768px) {
  /* Section 1.1 Navbar hamburger menu*/
  .hamburger {
    display: block;

  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #b1b1b185;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  #showcase {
    section {
      height: fit-content;
      width: 100%;
      flex-direction: column;

      div{

        figure {

          img {
            width: 130px;
            height: 130px;
          }
        }

        h1 {
          font-size: 2.5rem;
        }
      }
      aside {
        text-align: center;
        max-width: none;
        width: 100%;
        margin-right: 0rem;
        margin-left: 0rem;
        padding: 0 2rem 1rem 2rem;

      }
    }
  }

  #intro {
    text-align: center;
    flex-direction: column;

    article {
      width: 90%;
    }

    aside {
      margin-top: 3rem;

      figure {
        margin-left: 0rem;
      }
    }
  }

  #currentcourses {
  
    .wrapper {
      margin: 2rem 2rem 0rem 2rem;
      flex-direction: column;

      figure {
        min-width: 100%;
      }

      #soft {
        margin-right: 0px;
      }

      #syst {
        margin-left: 0px;
        margin-top: 1rem;
      }
    }
  }

  #blogs {
    .wrapper {
      flex-direction: column;
      gap: 0px;
      margin: 2rem 2rem 0rem 2rem;

      aside {
        margin-top: 2rem;
        width: 90%;
        
      }
    }
  }

  .blogpost {
    .wrapper {

      .blogtitle {
        flex-direction: column;
        h1 {
          text-align: center;
          font-size: 1.6rem;
        }

        img {
          margin-left: 0rem;
          margin-top: 1rem; 
          width: 50px;
          height: 50px;
        }
      }
      .blogcontent {
        margin: 0rem;
        padding: 1rem 2rem;
        width: 100%;
        font-size: 1.3rem;

        img {
          width: 95%;
        }
      }
    }
  }

}



