* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Section 1.0 - Navbar */

header {
  background-color: white;
  position: fixed;
  width: 100%;
}

li {
  list-style: none
;}

a {
  text-decoration: none;
  color: black;
}

.bluechip {
  color: rgb(97, 176, 255);
}

.bolder {
  font-weight: bold;
}

.btn {
  background-color: rgb(97, 176, 255);
  padding: 0.5rem 2rem;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.navbar {
  margin: 0 14%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

  span {
    color: rgb(5, 83, 161);
  }
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-branding p {
  font-size: 1.5rem;
}

.nav-branding p i {
  margin-right: 0.4rem;
  color: rgb(97, 176, 255);
}

.nav-link{
  transition: 0.3s ease;
}

.nav-link:hover{
  color: dodgerblue;
}
/* Section 1.1 - Navbar hamburger menu*/

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: dodgerblue;
}

#showcase {
  display: flex;
  justify-content: center;

  section {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
    background-image: url(/img/background.jpg);
    height: 50vh;

    div {
      margin-left: 4rem;
      display: flex;
      align-items: center;

      figure { 

        img {
          width: 250px;
          height: 250px;
        }
      }
  
      h1 {
        text-shadow: black 2px 2px 5px;
        color: white;
        font-size: 4.5rem;
  
        span {
          color: rgb(55, 150, 245);
        }
      }
    }

    aside {
      display: flex;
      flex-direction: column;
      margin-right: 2rem;
      width: 350px;
      color: white;
      height: 292px;
      margin-left: 2rem;

      h1 {
        font-size: 1.8rem;
        margin-bottom: 1rem;

        span {
          color: rgb(55, 150, 245);
        }
      }

      h2 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}

#intro {
  padding: 2rem 0rem;
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;

  article {
    width: 42%;
    height: fit-content;

    h1 {
      margin-bottom: 0.8rem;
      font-size: 2rem;
    }

    p {
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }

    a {
      margin-top: 1rem;
    }

    

  }

  aside {

    figure {
      margin-left: 2rem;
      img {
        width: 175px;
        height: 175px;
        border-radius: 50%;
      }
    }
  }
}

#currentcourses {
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;

  .wrapper {
    margin: 2rem 14rem 0rem 14rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-width: 50%;
      height: 40vh;
      background-position: center;
      background-size: cover;
      border-radius: 5px;

      h1 {
        padding: 0 2rem;
        color: white;
        font-size: 2.4rem;
        margin-bottom: 1rem;
        text-shadow: 5px 5px 5px black;
      }

      a {
        border-radius: 5px;
      }
    }

    #soft {
      background-image: url(/img/code.jpg);
      margin-right: 5px;
    }

    #syst {
      margin-left: 5px;
      background-image: url(/img/sysadmin.jpg);
    }
  }
}

#blogs {
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;

  .wrapper {
    margin: 2rem 14rem 0rem 14rem;
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;

    aside {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      border-top: 10px solid black;
      width: 33%;
      min-height: 27rem;
      max-height: 32rem;
      border-radius: 5px;
      background-color: rgb(214, 214, 214);

      h1 {
        padding: 2rem 1rem;
        color: black;
        font-size: 1.6rem;
      }

      p {
        align-self: flex-start;
        text-align: left;
        font-size: 1.2rem;
        padding: 0 1.3rem;
      }

      .author {
        text-align: right;
        align-self: flex-end;
        color: rgb(83, 83, 83);
        font-size: 1.1rem;
      }

      .btn {
        margin-top: 1rem;
        align-self: center;
        width: fit-content;
        background-color: rgb(65, 65, 65);
        margin-bottom: 2rem;
      }
    }

    #blog1 {
      border-color: yellowgreen;
    }

    #blog2 {
      border-color: rgb(60, 79, 255);
    }

    #blog3 {
      border-color: rgb(255, 60, 125);
    }
  }
}

footer {
  padding: 0.5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  width: 100%;
  background-color: black;
  color: white;
}