* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Section 1.0 - Navbar */

header {
  background-color: white;
}

li {
  list-style: none
;}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  margin: 0 14%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

  span {
    color: rgb(5, 83, 161);
  }
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-branding p {
  font-size: 1.5rem;
}

.nav-branding p i {
  margin-right: 0.4rem;
  color: rgb(97, 176, 255);
}

.nav-link{
  transition: 0.3s ease;
}

.nav-link:hover{
  color: dodgerblue;
}
/* Section 1.1 - Navbar hamburger menu*/

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: dodgerblue;
}

